html {
  font-size: 100%;
}

#main {
  height: 100vh;
  background-color: #000000;
  color: #fff;
  overflow: hidden;
}


.upper-display {
  position: absolute;
  width: 100%;
  top: 2em;
  
  /* debug */
  border: 2px dashed purple
}

.change-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* debug */
  border: 2px dashed orange
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* debug */
  border: 2px dashed red
}

.main-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0.5em 0 0 0;
}

.main-temperature {
  font-size: 8em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}

.main-description {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.05em 0;
}

.main-wind-speed {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}


.week-wrapper {
  position: absolute;
  width: 100%;
  top: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  /* debug */
  border: 2px dashed purple
}

.period-wrapper {

  /* debug */
  border: 2px dashed red
}

.period-title {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.period-temperature {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}