html {
  font-size: 100%;
}

#main {
  height: 100vh;
  background-color: #54416d;
  color: #fff;
}

.change-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* debug */
  border: 5px dashed orange
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* debug */
  /* border: 1px dashed orange */
}

.main-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0.5em 0 0 0;
}

.main-temperature {
  font-size: 8em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}

.main-description {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.05em 0;
}

.main-wind-speed {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}


.week-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5em 0 0 0;

  /* debug */
  /* border: 1px dashed orange */
}

.period-wrapper {
  /* debug */
  /* border: 1px dashed orange */
}

.period-title {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.period-temperature {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}