html {
  font-size: 100%;
}

#main {
  height: 100vh;
  overflow: hidden;
}


.upper-display {
  position: absolute;
  width: 100%;
  top: 10%;
  
  /* debug */
  border: 2px dashed orange;
}

.change-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* debug */
  border: 2px dashed purple;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* debug */
  border: 2px dashed red;
}

.main-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0.5em 0 0 0;
}

.main-temperature {
  font-size: 8em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}

.main-description {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.05em 0;
}

.main-wind-speed {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}


.lower-display {
  position: absolute;
  width: 100%;
  top: 75%;

  /* debug */
  border: 2px dashed orange;
}

.week-wrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  padding: 0.2em 0;

  /* debug */
  border: 2px dashed purple;
}

.week-wrapper::-webkit-scrollbar {
  height: 0.4em;
}

.week-wrapper::-webkit-scrollbar-track {
  background: orange;
}

/* Handle */
.week-wrapper::-webkit-scrollbar-thumb {
  background: purple;
}

/* Handle on hover */
.week-wrapper::-webkit-scrollbar-thumb:hover {
  background: red;
}


.period-wrapper {
  min-width: 20%;
  max-width: 20%;
  padding: 0.2em 1em;

  /* debug */
  border: 2px dashed red;
}

.period-title {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.period-temperature {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}


.clickable:hover {
  cursor: pointer;
}