.week-wrapper {
  text-align: right;
}

.period-title {
  font-size: 2em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.period-temperature {
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.1em 0;
}

.period-description {
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: 0 0 0.05em 0;
}

.period-wind-speed {
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}